src/conf/xml-resources/web-service-references/BankSampahOnlineUangVirtual/wsdl/chosensan.cloudapp.net_8080/BankSampahOnline/BankSampahOnlineUangVirtual.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService/">

<xs:element name="getSaldo" type="tns:getSaldo" />

<xs:element name="getSaldoResponse" type="tns:getSaldoResponse" />

<xs:element name="withdrawUangVirtual" type="tns:withdrawUangVirtual" />

<xs:element name="withdrawUangVirtualResponse" type="tns:withdrawUangVirtualResponse" />

<xs:complexType name="withdrawUangVirtual">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="jumlah" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawUangVirtualResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaldo">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>